:root{
	--color-black: #000000;
	--color-dark:#000017;
	--color-white: #e5e5e5;
	--color-red:#c40f24;
	--color-lila:#8100fa;
	--color-blue-l: #2a74fd;
	--color-blue-s: #062447;
	--color-yellow: #f0db20;
	--color-orange: #d6520b;

	--font-monoespaciado: 'Space Mono', 'Lucidatypewriter',monospace;
	--font-nombre: 'Great Vibes', 'Lucida Handwriting', cursive;
	--font-titulos: 'Timmana', 'Helvetica', sans-serif;
	--font-general: 'IBM Plex Serif', 'Lucida Bright', serif;
	--font-cougure: 'Courgette','Segoe Print', cursive;
	
	--logo-principal: url(/imagenes/logo.svg) no-repeat center;
	--img-presentacion: url(/imagenes/fotodlr.png) no-repeat center;
	--img-aboutme: white url(/imagenes/foto_aboutme.png) no-repeat center;

	--color--principal: var(--color-red);
	--color--background: var(--color-white);
	--buton--darkmode: var(--color-lila);
	--color--text: var(--color-blue-s);
	--texto--welcome: var(--color-lila);

	--color--items: var(--color--principal);
	--border--items: 2px solid var(--color--items);

	--sombra--buton--darkmode: 0 0 15px 8px rgba(129, 0, 250, .5);

	--color-green: #34a300;
}
*{
	transition: .5s;
	font-family: var(--font-general);
	scroll-behavior: smooth;
	scroll-margin-top: 70px;
	box-sizing: border-box;
}
body{
	transition: .6s;
	margin: 0;
	padding: 0;
	background: var(--color--background);
	color: var(--color--text);
}
a{
	text-decoration: none;
	cursor: pointer;
}
button{
	border: transparent;
}
/*Personalizacion Scroll*/
	textarea::-webkit-scrollbar,
	body::-webkit-scrollbar{
	    -webkit-appearance: none;
	}
	textarea::-webkit-scrollbar:vertical,
	body::-webkit-scrollbar:vertical{
	    width:8px;
	    background: var(--color-dark);
	}
	textarea::-webkit-scrollbar-button:increment,
	textarea:-webkit-scrollbar-button,
	body::-webkit-scrollbar-button:increment,
	body::-webkit-scrollbar-button{
	    display: none;
	}
	textarea::-webkit-scrollbar:horizontal,
	body::-webkit-scrollbar:horizontal{
		height: 8px;
	    background: var(--color-dark);
	    border-radius: 100px;
	}
	textarea::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb{
	    background-color: var(--color-red);
	    border-radius: 20px;
	    border: 1px solid var(--color-white);
	}
	textarea::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track{
	    border-radius: 500px;  
	}
/*configuracion de Header*/
	header {
		background-color: var(--color-black);
		height: 70px;
		width: 100%;
		border-bottom: 5px solid var(--color--items);
		position: fixed;
		top: 0;
		z-index: 5000;
	}
	.header__container {
		width: 75vw;
		max-width: 1300px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.header__logo{
		background: var(--logo-principal);
		background-size: contain;
		width: 3.5em;
		height: 3.5em;
		margin: auto 0;
	}
	.header__colors{
		width: 40px;
		height: 40px;
		margin-left: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		border-radius: 4px;
		outline: 1px solid var(--color-white);
		overflow: hidden;
	}
	.header__color{
		width: 20px;
		height: 20px;
		background: var(--color--principal);
		cursor: pointer;
	}
	.header__color.red{
		--color--principal:var(--color-red);
	}
	.header__color.orange{
		--color--principal: var(--color-orange);
	}
	.header__color.violet{
		--color--principal: var(--color-lila);

	}	
	.header__color.blue{
		--color--principal:var(--color-blue-l);
	}
/* Barra de navegacion Desktop*/
	.navegacion{
		display: flex;
	}
	.barra__navegacion{
		width: 18em;
		background: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		animation: 0.5s;
	}
	.navegacion__responsive__menu {
		display: none;
	}
	.navegacion__list{
		display: flex;
		width: 100%;
		align-items: center;
	}
	.navegacion__items{
		position: relative;
		list-style: none;
		width: 70px;
		z-index: 1;
	}
	.navegacion__items__link{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		color: var(--color-white);
		text-decoration: none;
		width: 100%;
	}
	.navegacion__items__link__icon{
		width: 45px;
		height: 45px;
		position: relative;
		display: block;
		padding: .5em;
		font-size: 1.35em;
	}
	.navegacion__items__link__text{
		position: absolute;
		transition: 0.3s;
		opacity: 0;
		color: var(--color--principal);
		font-weight: bold;
		font-family: var(--font-titulos);
		text-transform: uppercase;
	}
	.navegacion__items:hover .navegacion__items__link__text,
	.navegacion__items__link.active .navegacion__items__link__text,
	.navegacion__items__link:hover .navegacion__items__link__text{
		opacity: 1;
	}
	.navegacion__items:hover .navegacion__items__link__icon,
	.navegacion__items__link:hover .navegacion__items__link__icon,
	.navegacion__items__link.active .navegacion__items__link__icon{
		color: var(--color-blue-l);
		transform: translateY(1.6em);
		background: var(--color-dark);
		border-radius: 50%;
		outline: 5px solid var(--color--items);
	}
	.navegacion__items.submenu{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.navegacion__items.submenu .navegacion__sublista{
		position: absolute;
		transform: translateY(3.5em);
		pointer-events: none;
		opacity: 0;
	}
	.navegacion__items.submenu:hover .navegacion__sublista{
		opacity: 1;
		pointer-events: all;
		transform: translateY(5em);
	}
	.navegacion__sublista__items{
		display: inline;
		position: relative;
	}
	.navegacion__sublista__items__link{
		display: flex;
		margin-top: 0.2em;
		color: var(--color--text);
		text-decoration: none;
		align-items: center;
	}
	.navegacion__sublista__items__link__icon{
		color: var(--color--text);
		font-size: 1.3em;
		margin-right:.3em;
	}
	.navegacion__sublista__items__link:hover,
	.navegacion__sublista__items__link:hover .navegacion__sublista__items__link__text,
	.navegacion__sublista__items__link:hover .navegacion__sublista__items__link__icon	{
		color: var(--color--principal);
	}
/*Switch modo ocuro*/
	.switch{
		display: block;
		position: relative;
		margin: auto;
		width: 35px;
		height: 35px;
		font-size: 25px;
		background: none;
		cursor: pointer;
		outline: 2px solid var(--buton--darkmode);
		border-radius: 50%;
		box-shadow: var(--sombra--buton--darkmode);
		transition: .5s;
		overflow: hidden;
	}
	.switch__sunny{
		position: absolute;
		top: 4px;
		left: 4px;
		transform: translateX(-35px);
		color: var(--color-yellow);
	}
	.switch__moon{
		position: absolute;
		width: 25px;
		top: 4px;
		left: 4px;
		color: var(--color-lila);
	}
	.switch.active .switch__moon{
		transform: translatex(35px);
	}
	.switch.active .switch__sunny{
		transform: translateX(0);
	}
/*Footer*/
	footer{
		width: 100%;
		height: 100px;
		margin: 0;
		border-top:4px solid var(--color--items) ;
		background: var(--color-blue-s);
	}
	.footer__container{
		margin: auto;
		justify-content: center;
		align-items: center;
		padding: .4em 0;
		text-align: center;
		color: var(--color-white);
		font-size: 1em;
		line-height: 1.5em;
	}
	.footer__redessociales{
		gap: 5em;
	}
	.footer__redessociales a{
		text-decoration: none;
	}
	.footer__icons{
		font-size: 2em;
		color: var(--color-white);
	}
	.footer__icons.fa-facebook, .footer__icons.fa-instagram{
		color: var(--color-red)
	}
	.footer__logo{
		height: 2em;
		width:  2em;
	}
	.footer__container .text__usuario{
		color: var(--color-white);
	}
	.footer__container .text__resaltado{
		color: var(--color-red);
	}
	


/* Formatos de texto*/
	.name{
		color: var(--color-white);
		font-family: var(--font-nombre);
		font-size: 2.4rem;
		padding: 15px;
	}
	.title {
		font-size: 2.5em;
		font-family: var(--font-titulos);
		text-align: center;
		transition: .5s;
		color: var(--color--text);
	}
	.subtitle{
		font-size: 1.5em;
		padding: .7em;
		font-family: var(--font-cougure);
		text-align: center;
		font-weight: 400;
		transition: .5s;
		color: var(--color--principal);
		font-weight: bold;
	}
	.subtitle__n2{
		font-size: 1.3em;
		padding: .7em;
		font-family: var(--font-cougure);
		text-align: center;
		font-weight: 400;
		transition: .5s;
		color: var(--color--text);
	}
	.subtitle__n3{
		font-family: var(--font-monoespaciado);
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		color: var(--color-lila);
		transition: .5s;
		line-height: 1.3em
	}
	.subtitle__n4{
		font-size: 1em;
		font-family: var(--font-cougure);
		color: var(--color--text);
		line-height: 1.4em;
		padding: .5em;
		text-align: center;
	}
	.body__text{
		line-height: 1.5em;
		padding: .3em;
		color: var(--color--text);
	}
	.text__center{
		line-height: 1.3em;
		color: var(--color--text);
		text-align: center;
	}
	.text__usuario{
		font-family: var(--font-cougure);
		color: var(--color--text);
	}
	.text__resaltado{
		color: var(--color--principal);
		font-size: 1.1em;
		font-weight: bold;
		font-family: var(--font-cougure);
	}
	.welcome{
		text-align: center;
		text-transform: uppercase;
		color: var(--color--principal);
		display: inline-block;
		border-right: 3px solid var(--color--principal) ;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		margin: .8em 0;
		transition: .4s;
	}

/*home*/
	.main__container{
		content: "";
		max-width: 95%;
		height: auto;
		margin: auto auto;
		min-height: calc(40vh - 75px);
	}
	.container__presentacion{
		max-width: 85%;
		min-height: calc(100vh - 75px);
		align-items: center;
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin: 75px auto 0px;
	}
	.foto__presentacion{
		width: 80%;
		background: var(--img-presentacion);
		background-size: contain;
		margin: auto;
		height: 100%;
		min-height: 230px;
		max-height: 280px;
		min-width: 230px;
		max-width: 300px;
	}
	.presentacion__redessociales{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.presentacion__redessociales__items__link{
		color: var(--color--principal);
		text-decoration: none;
		display: flex;
		align-items: center;
		padding: 0.3em;
		font-size: 1.2em;
		outline:  var(--border--items);
		border-radius:20px ;
		margin: 0.2em;
		transition: all .5s;
	}
	.presentacion__redessociales__items__icon{
		font-size: 1.35em;
		color: var(--color--principal);
		margin-right: .3em;
	}
	.presentacion__redessociales__items__icon.rotate{
		transform: rotate(45deg);
	}
	.presentacion__redessociales__items__link:hover {
		background: var(--color--principal);
	}
	.presentacion__redessociales__items__link:hover,
	.presentacion__redessociales__items__link:hover .presentacion__redessociales__items__icon{
		color: var(--color--background);
	}
/*Sobre mi*/
	.container__aboutme{
		background: #10afe021;
		width: 82%;
		padding: 2em;
		gap: 1em;
	}
	.aboutme__items__img{
		background:var(--img-aboutme);
		background-size: contain;
		border-radius: 50%;
		border: 2px solid white;
		width: 170px;
		height: 170px;
		float: right;
		transition: .3s;
		text-decoration: none;
	}
	.aboutme__button{
		outline: var(--border--items);
		border-radius: 5px;
		float: right;
		margin: none;
		width: 150px;
		transform: translateY(-50px);
		font-size: 1em;
		background: none; 
		color: var(--color--principal);
		cursor: pointer;
		font-size: 1.3em;
		padding: .3em;
		font-weight: bold;
	}
	.aboutme__button i{
		color: var(--color--principal);
	}
	.aboutme__button:hover i{
		color: var(--color--background);
	}
	.aboutme__button:hover{
		color: var(--color--background);
		background: var(--color--principal);
		animation: pulsing .5s infinite alternate;
	}
	.aboutme__button::after{
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		animation: pulsing 1s infinite alternate-reverse	;
	}
	@keyframes pulsing {
		100%{
			box-shadow: 0 0 30px 1px var(--color--principal);
		}
	}


/*Formacion*/
	.target__container{
		width: auto;
		display: flex;
		padding: 1em 0 1.5em;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
		justify-content: center;
	}
	.formacion__targets{
		display: flex;
		flex-direction: column;
		background-color: #10afe021;
		outline: var(--border--items);
		border-radius: 10px;
		height: 170px;
		width: 340px;
		padding: 1em;
	}
	.formacion__targets__container{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: auto;
	}
	.formacion__targets__items{
		display: block;
		margin: 0 5px;
		text-align: center;
	}
	.formacion__targets__img{
		height: 55px;
		margin: auto;
		object-fit: contain;
	}
	.formacion__targets .body__text,
	.formacion__targets__items .body__text{
		padding: .3em 0;
		display: flexbox;
		text-align: center;
	}
/*Skills*/
	.container__skills{
		background: #9117a115;
	}
	.skills__targets{
		outline: var(--border--items);
		border-radius: 10px;
		height: 170px;
		width: 150px;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.targets__icon{
		font-size: 2.7em;
		transition: .5s;
		color: var(--color--text);
	}
	.skills__targets{
		padding: .5em 0;
		text-align: center;
		transition: .4s;
	}
	.skill__target__text{
		position: absolute;
		transform: translateX(-90px);
		width: 140px;
		font-size: .75em;
		line-height: 1.2em;
		opacity: 0;
		transition: .4s;
		pointer-events: none;
		color: var(--color--text);
	}
	.skill__target__level{
		width: 120px;
		height: 6px;
		outline: 2px solid var(--color--text);
		border-radius: 5px;
		background: none;
		overflow: hidden;
	}
	.skill__target__level__basico{
		width: 30%;
		height: 100%;
		border-radius: 10px;
		background-color: var(--color--principal);
	}
	.skill__target__level__intermedio{
		width: 60%;
		height: 100%;
		border-radius: 5px;
		background-color: var(--color--principal);
		}
	.skill__target__level__avanzado{
		width: 80%;
		height: 100%;
		border-radius: 5px;
		background-color: var(--color--principal);
	}
	.skills__targets:hover .skill__target__text{
		opacity: 1;
		transform: translateX(0px);
	}
	.skills__targets:hover .skill__target__level,
	.skills__targets:hover .targets__icon,
	.skills__targets:hover .subtitle__n4{
		transform: translateX(60px);
		opacity: 0;
	}
/*Hobies*/
	.hobbies__targets{
		outline: var(--border--items);
		border-radius: 10px;
		height: 150px;
		width: 150px;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		background-color: #10afe021;
	}
	.hobbies__targets .body__text{
		padding: .5em 0;
		text-align: center;
	}
/*Programacion*/
	.programacion__targets{
		min-height: 63vh;
		padding: 1em;
		transition: all .5s;
	}
	.target__encriptador{
		display: grid;
		height: auto;
		grid-template-columns: 1fr 2fr;
		overflow: hidden;
	}
	.programacion__targets__items{
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		width: 90vw;
		height: 63vh;
	}
	.programacion__targets__img{
		width: 50%;
		min-width: 350px;
		height: auto;
		object-fit: scale-down;
		margin: auto;
		border-radius:10px;
		outline: var(--border--items);
	}
	.programacion__targets__icon{
		font-size: 1.1em;
		margin-left: .1em;
	}
	.programacion__targets__buttones{
		display: flex;
		margin: auto;
		width: auto;
		gap: 1em;
		justify-content: center;
		flex-wrap: wrap;
		transition: all .5s;
	}
	.programacion__targets__button{
		outline: var(--border--items);
		width: 170px;
		height: 2em;
		font-family: 'Space Mono', monospace;
		border-radius: 5px;
		font-size: 1.05em;
		cursor: pointer;
		background: none;
		color: var(--color--items);
		font-weight: bold;
	}
	.programacion__targets__button__link{
		color: var(--logo-principal);
		text-decoration: none;
		transition: .4s;
	}
	.programacion__targets__button__icon{
		color: var(--color--principal);
	}
	.programacion__targets__button:hover{
		color: var(--color--background);
		background: var(--color--items);
	}
	.programacion__targets__button:hover .programacion__targets__button__link,
	.programacion__targets__button:hover .programacion__targets__button__icon,
	.programacion__targets__button__icon:hover{
		color: var(--color--background);
	}

/*Proyecto encriptador*/
	.proyecto__encriptador{
		display: flex;
		width: 90%;
		height: 100%;
		flex-direction: row;
		gap: .5em;
		transform: translateX(120%);
		pointer-events: none;
		opacity: 0;
		align-items: center;
	}
	.proyecto__encriptador__ingreso,
	.proyecto__encriptador__salida{
		display: flex;
		width: 100%;
		height: 95%;
		flex-direction: column;
		gap: 1em;
		justify-content: center;
	}
	.proyecto__encriptador__textarea{
		width: 95%;
		height: 75%;
		border: var(--border--items);
		border-radius: 5px;
		background: #10afe021;
		outline: none;
		color: var(--color--text);
		resize: none;
		font-family: var(--font-monoespaciado);
	}
	.proyecto__encriptador__buttons{
		width: 90%;
		height: 10%;
		display: flex;
		flex-wrap: wrap;
		gap: .3em;
		margin: auto;
		justify-content: center;
	}
	.proyecto__encriptador__button{
		outline: 2px solid var(--color-lila);
		width: 150px;
		border-radius: 5px;
		font-family: 'Space Mono', monospace;
		height: 2em;
		font-size: .9em;
		cursor: pointer;
		background: none;
		justify-content: center;
		color: var(--color-lila);
		font-weight: bold;
	}
	.proyecto__encriptador__button i{
		color: var(--color-lila);
	}
	.proyecto__encriptador__button:hover i{
		color: var(--color--background);
	}
	.proyecto__encriptador__button:hover{
		color: var(--color--background);
		background: var(--color-lila);
	}

/*Mostrar Proyecto Encritador*/
	.programacion__targets.mostrar .programacion__targets__items{
		width: 95%;
	}
	.programacion__targets.mostrar .proyecto__encriptador {
		opacity: 1;
		transform: translate(0);
		pointer-events: all;
	}
	.programacion__targets.mostrar .programacion__targets__img{
		width: 85%;
	}
/*portafolio*/
	.programacion__targets.-portafolio{
		min-height: 40vh;
	}
	.targets__portafolio{
		width: 90vw;
		display: flex;
		flex-direction: column;
		padding: 1em;
		gap: 1em;
	}
	.targets__portafolio__img{
		width: 40%;
		min-width: 350px;
		margin: auto;
		background: #10afe021;
		border-radius: 10px;
		outline: var(--border--items);
	}

/*Diseño*/
	.disenho__container{
		display: flex;
		gap: 1em;
		justify-content: center;
		flex-wrap: wrap;
		background: #10afe021;
		width: 82%;
		margin: auto;
		padding: 2em;
	}
	.disenho__targets{
		outline: var(--border--items);
		border-radius: 10px;
		height: 210px;
		width: 210px;
		padding: 0;
		gap: 1em;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.disenho__items__img{
		margin: 0 auto;
		height: 160px;
		width: 160px;
	}
	.img__diegollanosr{
		background: url(/imagenes/logo.svg) no-repeat center;
		background-size: contain;
	}
	.img__inmowasi{
		background: url(/imagenes/logos/inmowasi.svg) no-repeat center;
		background-size: contain;
	}
	.img__palmeras{
		background: url(/imagenes/logos/laspalmeras.png) no-repeat center;
		background-size: contain;
	}
	.img__tavo{
		background: url(/imagenes/logos/tavo.png) no-repeat center;
		background-size: contain;
	}

	


/*Contacto*/
	.container__contacto{
		margin: auto;
		outline: var(--border--items);
		max-width: 1000px;
		width: 95%;
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		justify-content: center;
		height: auto ;
		margin-bottom: 30px ;
		box-shadow: 0 0 20px 3px var(--color--items);
	}
	.formulario__contacto{
		width: 100%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.formulario__contacto > *{
		padding: .5em 2em;
	}
	.formulario__contacto__item{
		display: block;
		height: 1.2em;
		width: 100%;
		margin: 15px auto;
		color: var(--color--text);
	}
	.formulario__contacto__item__input{
		display: block;
		margin: auto;
		width: 100%;
		height: 2em;
	}
	.formulario__contacto__item__textarea,
	.formulario__contacto__item__button{
		grid-column: 1 / 3;
		max-width: 500px;
		width: 80%;
		margin: 15px auto;
		gap: .5em;
		max-height: 150px;
	}
	.formulario__contacto__item__button{
		font-size: 1.15em;
		background: var(--color--items) ;
		color: var(--color-white);
		outline: var(--border--items);
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.formulario__contacto__item__button:hover{
		background: none;
		color: var(--color--items);
		text-shadow: 0 0 .05em var(--color--items);
	}
	.formulario__contacto__item__input,
	.formulario__contacto__item__textarea{
		background: none;
		border: none;
		outline: none;
		border-bottom: var(--border--items);
		color: var(--color--text);
	}
	.informacion__contacto{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: space-between;
		border-right: var(--border--items);
		height: 100%;
		gap: 1em;
	}
	.contacto__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		outline: var(--border--items);
		border-radius: 100%;
		padding: .2em;
		margin: .2em;
		color: var(--color-blue-l);
		font-size: 30px;
		text-decoration: none;
		width: 45px;
		height: 45px;
	}
	.fa-address-book{
		font-size: 3.5em;
		color: var(--color--principal);
	}
	#mailto{
		pointer-events: none;
		opacity: 0;
	}





/*Responsive*/	
	@media screen and (min-width:1550px) {
		.main__container{
			min-height: 60vh;
			height: auto;
		}
		.container__presentacion{
			grid-template-columns: 1fr 3fr;
		}	
	}
	@media screen and (max-width:950px) {
		/* Barra de navegacion Responsive*/
		.barra__navegacion{
			margin-right: 1em;
			width: auto;
		}
		.navegacion__responsive__menu{
			display: block;
			position: relative;
			width: 35px;
			height: 35px;
			font-size: 30px;
			background: none;
			cursor: pointer;
			border: none;
			color: var(--color-white);
			transition: 1s;
		}
		.close__menu{
			bottom: 0;
			left: 0;
			position: absolute;
			transform: rotate(-135deg);
			opacity: 0;
		}
		.open__menu{
			bottom: 0;
			left: 0;
			position: absolute;
			margin: auto;
		}
		.navegacion__responsive__menu.closed .close__menu{
			opacity: 1;
			transform: rotate(0);
		}
		.navegacion__responsive__menu.closed .open__menu{
			transform: rotate(90deg);
			opacity: 0;
		}
		.navegacion__list{
			left: 0;
			transform: translateX(-100%);
			/*right: 100%;*/
			top: 75px;
			width: 50%;
			height: calc(100vh - 70px);
			display: block;
			position: absolute;
			background-color: #0d0238f5;
			overflow-y: auto;
			transition: .5s ;
		}
		.navegacion__list.show{
			transform: translateX(0);
			/*right: 50%;*/
		}
		.navegacion__items, .navegacion__sublista__items {
			display: inline;
			position: relative;
			width: 100%;
		}
		.navegacion__items__link,
		.navegacion__sublista__items__link {
			width: 100%;
			border-bottom: 2px solid var(--color--principal);
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
			color: var(--color-dark);
			text-decoration: none;
			padding: .35em 0;
			margin: .2em 0;
		}
		.navegacion__items__link__icon,
		.navegacion__sublista__items__link__icon {

			color: var(--color-white);
			font-size: 1.2em;
			padding: 0;
			height: auto;
			width: auto;
			margin-right: 8px ;
		}
		.navegacion__items__link__text,
		.navegacion__sublista__items__link__text{
			position: relative;
			opacity: 1;
			color: var(--color-white);
		}
		.navegacion__sublista__items__link:hover .navegacion__sublista__items__link__text,
		.navegacion__sublista__items__link:hover .navegacion__sublista__items__link__icon,	
		.navegacion__sublista__items__link.active .navegacion__sublista__items__link__text,
		.navegacion__sublista__items__link.active .navegacion__sublista__items__link__icon,
		.navegacion__items:hover .navegacion__items__link__text,
		.navegacion__items__link.active .navegacion__items__link__text,
		.navegacion__items__link:hover .navegacion__items__link__text,
		.navegacion__items:hover .navegacion__items__link__icon,
		.navegacion__items__link:hover .navegacion__items__link__icon,
		.navegacion__items__link.active .navegacion__items__link__icon
		 {
			color: var(--color--principal);
			opacity: 1;
			transform: translateY(0);
			background: none;
			border: none;
			outline: none;
		}
		.navegacion__items.submenu {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.navegacion__items.submenu .navegacion__sublista {
			width: 100%;
			display: block;
			position: relative;
			transform: translateY(0);
			opacity: 1;
		}
		.navegacion__items.submenu:hover .navegacion__sublista {
			display: block;
			position: relative;
			transform: translateY(0em);
		}
		.main__container{
			width: 85%;
		}
		.programacion__targets{
			padding: 0;
			height: auto;
		}
		.programacion__targets__img {
			width: 60%;
		}
		.proyecto__encriptador{
			flex-direction: column;
			padding: 1em;
			width: 100vw;
			justify-content: center;
		}
		.proyecto__encriptador__textarea{
			margin: auto;
			width: 80%;
			height: 20vh;
		}
		.programacion__targets.mostrar  {
		 	display: flex;
		 	flex-direction: column;
			justify-content: center;
			align-items: center;
		 }

		.programacion__targets.mostrar .programacion__targets__img{
			width: 60%;
		}
		.targets__portafolio__img{
			width: 60%;
		}
		.ocultar{
			display: none;
		}		
	}
	@media screen and (max-width:850px) {
		
		.container__presentacion{
			grid-template-columns: 1fr;
			min-height: 55vh;
			height: auto;
			padding-bottom: 2em;
		}
		.header__container{
			width: 90%;
		}
		.header__logo{
			width: 3em;
			height: 3em;
		}
		.name{
			font-size: 2em;
		}
		.aboutme__items__button{
			width: 100%;
			text-decoration: none;
		}
		.aboutme__button{
			display: block;
			float: none;
			margin: auto;
			transform: translate(0);
		}
		.aboutme__items__img{
			float: none;
			margin: auto;
			transform: translate(0);
			width: 130px;
			height: 130px;
		}
		.programacion__targets__items{
			padding: 0;
		}
		.programacion__targets__img{
			min-width: 80%;
		}
		.targets__portafolio__img{
			min-width: 80%;
		}
		.container__contacto {
			grid-template-columns: 1fr;
		}
		.informacion__contacto {
			border-right: none;
			border-bottom: var(--border--items);
		}
		.formulario__contacto {
			border-left: none;
		}
	}
	@media screen and (max-width:475px) {
		* {
				scroll-margin-top: 50px;
		}
		.barra__navegacion{
			margin-right: .2em;
		}
		.navegacion__list{
			width: 100%;
			top: 54px;
			height: calc(100vh - 54px);
			background-color: #0d0238;
		}
		.navegacion__list.show{
			right: 0%;
		}
		header{
			height: 60px;
		}
		.header__logo{
			width: 2em;
			height: 2em;
			background-color: #E5E5E5;
			border-radius: 50%;
		}
		.header__colors{
			display: none;
		}
		.name{
			font-size: 1.5em;
		}
		.title{
			font-size: 1.3em;
		}
		.subtitle{
			font-size: 1.1em;
		}
		.welcome{
			margin: .2em 0;
			font-size: .9em;
		}
		.body__text{
			padding: .5em;
		}
		.container__presentacion {
			margin-top: 65px;
		}
		.foto__presentacion{
			width: 25%;
			min-width: 200px;
			height: 200px;
		}
		.programacion__targets__button {
			width: 140px;
			font-size: .95em;
		}

		.formulario__contacto{
			display: initial;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			align-content: center;	
		}
		.formulario__contacto p{
			width: 100%;
		}

	}
	@media screen and (max-width: 360px) {
		.name{
			text-align: center;
			line-height: 1em;
			padding: 5px 0;
		}
		.foto__presentacion{
			width: 130px;
			height: 130px;
		}
	}
/* Modo Oscuro*/
	body.dark {
		--color--background: 
		/*linear-gradient(135deg, #350010, 40%, #100035)*/
		var(--color-dark);
		--buton--darkmode: var(--color-yellow);
		--sombra--buton--darkmode: 0 0 15px 8px rgba(240, 219, 32, .5);
		--color--text: var(--color-white);
	}
	.darkmode{
		display: none;	
	}
	body.dark .ligthmode{
		display: none;
	}
	body.dark .darkmode{
		display: block;
	}
